<!-- app/views/games/_score.html.erb -->
<h2><%= @hand_winner %> sores</h2>
<hr />
<p>Computer: <%= @score['computer'] %></p>
<p>Player: <%= @score['player'] %></p>

<p>Computer draw <%= @computer_hand %></p>
<p>Player hand <%= @player_hand %></p>